@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #ecf0f1;
  font-family: Montserrat;
}

#navBar {
  background-color: #0a1612;
  height: 60px;
}

#navBar a {
  float: left;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #ecf0f1;
}

.myLoaderCSS {
  margin: 200px auto 0 auto;
}

.myLoaderBadgeCSS {
  margin-top: 40px;
}

.selectedTab {
  height: 30px;
  background-color: darkgray;
}

.modalButton {
  width: 50%;
  margin: 0 25% 0 25%;
  border-radius: 10px;
  box-shadow: none;
  outline: 0;
}

.actions {
  padding: 25px 25px 0 25px;
  text-align: left;
}

.actions p span {
  width: 200px;
  display: inline-block;
}

.actions p input[type=text] {
  background-color: #ecf0f1;
  border: none;
  border-bottom: 1px solid lightgray;
}

.yellowButton {
  background-color: #F7CE3E;
  width: 290px;
  height: 50px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
}

.updateDiv p input {
  margin-right: 50px;
}

.declareButton {
  margin-left: 220px;
}
.updateDiv button {
  color: #F7CE3E;
  border: none;
  background-color: #ecf0f1;
  font-weight: bold;
}

.badgesDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.badgeDiv {
  display: inline-block;
  height: 150px;
}
.badgeDiv p{
  font-weight: bold;
}

.newClientsBadge{
  background-color: #2ecc71;
  color: #ecf0f1;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
  float: left;
}
.emailsSentBadge{
  background-color: #3498db;
  color: #ecf0f1;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
  float: left;
}
.outstandingClientsBadge{
  background-color: #e74c3c;
  color: #ecf0f1;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
  float: left;
}
.hottestCountryBadge{
  background-color: #f1c40f;
  color: #ecf0f1;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 15px;
  margin: 20px;
  float: left;
}

.chart {
  float: left;
}